<!DOCTYPE html>
<head>
<title>Flask app</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header>
<div class="container">
<h1 class="logo">PIPER Micro Service</h1>
<strong><nav>
<ul class="menu">
</ul>
</nav></strong>
</div>
</header>
<div class="home">
    <h1>Upload PIPER Input</h1>
    <p>The input contains: AUXDATA.DAT, DATA_WHT_USE.DAT, FLDDATA.DAT and SND_ERR.DAT.</p>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file[]" multiple="">
        <input type="submit" value="Upload">
    </form>
    <form action="/runpiper" method="post">
        <button name="runBtn" type="submit">Run PIPER</button>
    </form>
</div>
<div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
</div>
</body>
</html>